<div class="newsletter">
		<div class="newsletter_background" style="background-image:url(images/newsletter_background.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

						<!-- Newsletter Content -->
						<div class="newsletter_content text-lg-left text-center">
							<div class="newsletter_title">sign up for news and offers</div>
							<div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer</div>
						</div>
						
						<!-- Newsletter Form -->
						<div class="newsletter_form_container ml-lg-auto">
							<form action="https://gmail.us10.list-manage.com/subscribe/post?u=ed800e71bc462ccfdcbd848b1&id=2f24b1c638" method="POST" id="newsletter_form" name="mc-embedded-subscribe-form" class=" validate newsletter_form d-flex flex-row align-items-center justify-content-center" target="_blank" novalidate>
								<input id="mce-EMAIL" value name="EMAIL"  type="email" class="newsletter_input required email" placeholder="Your Email" required="required">
								<button type="submit" class="newsletter_button">subscribe</button>
							</form>
							
						</div>
						
						<!-- Begin Mailchimp Signup Form -->
						<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">		
						<!--End mc_embed_signup-->
					</div>
				</div>
			</div>
		</div>
	</div>