{{#if isAuthentication}}
<script>
    window.onload = login_func;
</script>
{{/if}}

<div class="main-content">
  
    <div class="container ">
        <div class="row">
            <div class="col-md-3"> 
                <div class="block account-nav">
                    <div class="quick-user-info clearfix">
                        <div class="user-avatar float-left white-background">
                            {{!-- <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg" id="avatar-image" class="avatar-customer"> --}}
                            <img src="{{userinfo.Avt}}" id="avatar-image" class="">
                            <span class="text-avatar" style="visibility: hidden;">DQ</span>
                        </div>
                        <div class="user-name-and-role">
                            <span class="user-name">{{userinfo.HoTen}}</span> 
                            <span class="sub-title">&lrm;Học viên</span>
                        </div>
                    </div>
                    <div class="content account-nav-content" id="account-nav">
                        <ul class="nav items nav-list">
                            <li class="nav item current"><strong>Profile</strong></li>
                            <li class="nav item"><a href="mycourses">My courses</a></li>
                            <li class="nav item"><a href="cart">My cart</a></li>
                            <li class="nav item"><span class="delimiter"></span></li> 
                            <li class="nav item"><span class="delimiter"></span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="block info-block">
                   
                        {{!-- <form class="form form-edit-account" action="changeinfo" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="* Required Fields" autocomplete="off" novalidate="novalidate"> --}}
                         <form class="form form-edit-account" id="form-validate" >
                            <div  class="info-title">
                                <span > Change Password </span>    
                            </div>
                            <div class=" clearfix">
                                <div class="col-md-3 avt-block">
                                    <div class="user-big-avatar float-left white-background">
                                        {{!-- <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg" id="avatar-image" class="avatar-customer"> --}}
                                        <img src="{{userinfo.Avt}}" id="avatar-image" class="avatar-customer">
                                        <span class="text-avatar" style="visibility: hidden;">DQ</span>
                                        {{!-- <button class="btn btn-outline-info btn-change-avt" style="top:100px"><i class="fa fa-camera" aria-hidden="true"></i> Change</button> --}}
                                    </div>
                                </div>
                             
                                <div class="user-info col-md-8">
                                     <div class="form-group row">
                                        <label for="curpw" class="col-4 col-form-label">Curent Password</label> 
                                        <div class="col-8">
                                            <input id="curpw" name="curpw" placeholder="Enter current password" class="form-control here"  type="password" value="" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="newpw" class="col-4 col-form-label">New Password</label> 
                                        <div class="col-8">
                                            <input id="newpw"  name="newpw" placeholder="Enter new password" class="form-control here" type="password" value = "" required  >
                                        </div>
                                        <div class="custom-input-error">
                                            <span class="custom-error-text"> </span>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group row">
                                        <label for="retype" class="col-4 col-form-label">Re-type</label> 
                                        <div class="col-8">
                                            <input id="confirm" name="confirm" placeholder=" Re-type New Password" class="form-control " type="password" value="" required>
                                        </div>
                                    </div>
                                   
                                    
            
                             
                                    

                                </div>
                            </div>
                            
                        </form>     
                        <div class="noti">
                               <div class= "noti-content">&nbsp;</div>
                        </div>
                        <div class="row btn-field">
                            <a style="" href="/userprofile"> <button class="btn btn-danger back-btn"  > <span> Back </span> </button> </a>
                            <button class="btn btn-primary save-btn" onclick="changepw('{{userinfo._id}}')" > <span> Save </span> </button> 
        
                        </div>
            
                </div>
                     
                   
                        
                       
                   
             </div>
        </div>
    </div>
            
                {{!-- s --}}
            
                {{!--  --}}
</div>



<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();  
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>


<script type="text/javascript">
    (function() {
        
        'use strict';
        console.log('GG123');
        window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            console.log('form: ', forms);
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
        })();


        function changepw(id){
        // xoa div khoi trang web
        var  newpw_block = document.getElementById('newpw');
        var  curpw_block =  document.getElementById('curpw');
        var  confirm_block = document.getElementById('confirm');
        var curpw = curpw_block.value;
        var newpw = newpw_block.value;
        var conf = confirm_block.value;
        var noti = document.getElementsByClassName('noti-content');
        noti[0].innerHTML = 'Waiting...';
        if(curpw.length < 1){
            noti[0].classList.remove('noti-content-successful');
            noti[0].innerHTML = 'Current password is required!';
            
            return;
        }
        if(newpw.length < 6){
            noti[0].classList.remove('noti-content-successful');
            noti[0].innerHTML = 'New password is at least 6 characters';
            
            return;
        }
        if(newpw != conf){
            noti[0].classList.remove('noti-content-successful');    
            noti[0].innerHTML = 'Your new password does not match confirmation.';
            return;
        }
        var xhttp = new XMLHttpRequest();
        xhttp.open('POST','postchangepw2?id=' + id + '&curpw='+curpw+'&newpw='+newpw,'true');
     // xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send();
        xhttp.onreadystatechange = function(){

            if(this.readyState == 4 && this.status == 200){
               //alert(this.responseText);
            
                
                var resText = this.responseText;
                if(resText =='successed'){
                    noti[0].innerHTML = 'Your changes have been successfully saved.';
                    noti[0].classList.add('noti-content-successful');
                }
                else if(resText =='failed') {
                    noti[0].innerHTML = 'Failed to change password.';
                    noti[0].classList.remove('noti-content-successful');
                }
                else if(resText == 'incorrect'){
                    noti[0].innerHTML = 'Your password was incorrect.';
                    noti[0].classList.remove('noti-content-successful');
                }
                
            }

        }

    }
</script>